# virtual env
.venv/

# OS
*.DS_Store
Thumbs.db

# python cache
__pycache__/
*.pyc

# data
data/raw/
data/processed/

# big model artifacts
models/**/saved_model/
models/**/*.h5
models/**/*.keras
models/**/*.pb
